{
    "importOrder": [
      "^@mui/(.*)$",
      "^@hooks/(.*)$",
      "^@components/(.*)$",
      "^[./]"
    ],
    "importOrderSeparation": true, 
    "importOrderSortSpecifiers": true,
    "singleQuote": true,
    "bracketSameLine": true,
    "trailingComma": "none"
}